@import '_vars';

.email-signup-block {
  @media screen and (min-width: 850.9px) {
    width: 100%;
  }
}

.email-signup__form {
  display: flex;
  flex-direction: column;
}

.email-signup__input-group {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: transparent;
}

.password-dialog__content {
  .email-signup__input-group {
    @media screen and (min-width: 850.9px) {
      row-gap: 10px;
    }
  }
}

/*.email-signup__input-group:not(:has(.email-signup__button--arrow)) {
  @media screen and (min-width: 850.9px) {
    grid-template-columns: 1fr;
  }
}*/

.email-signup__input {
  width: 100%;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  border-style: solid;
  border-color: var(--color-input-border);
}

.email-signup__button {
  white-space: nowrap;
  padding: 0;

  @media screen and (min-width: 850.9px) {
    width: 100%;
  }
}

.email-signup__input,
.email-signup__button--text {
  padding: 18px;
}

.email-signup__input-group .email-signup__input--underline {
  --box-shadow-color: var(--color-input-border);
  --box-shadow-multiplier: 1;
  color: var(--color-input-text);
  background-color: transparent;
  padding: 12px 0;
  border: none;
  border-radius: 0;
  box-shadow: 0px calc(var(--border-width) * var(--box-shadow-multiplier)) 0px var(--box-shadow-color);
  transition: box-shadow var(--animation-values);

  &:focus-visible {
    --box-shadow-multiplier: 1.75;
    --box-shadow-color: var(--color-input-text);
    outline: none;
  }
}

/*
.email-signup__input::placeholder {
  color: rgb(from var(--color-input-text) r g b / 70%);
}
*/

.email-signup__input-group .email-signup__input--none {
  color: var(--color-input-text);
  background-color: var(--color-input-background);
  border: none;
}

.email-signup__input:has(+ .email-signup__button--arrow),
.email-signup__input:has(+ .email-signup__button--integrated) {
  @media screen and (min-width: 850.9px) {
    text-align: left;
  }
}

.email-signup__button--arrow {
  aspect-ratio: 1;
  padding-inline: var(--padding-xs);

  &:not(.email-signup__button--integrated) {
    width: auto;
  }
}

.email-signup__button--integrated {
  --button-offset: var(--margin-xs);
  position: absolute;
  height: calc(100% - (var(--button-offset) * 2) - (var(--border-width) * 2));
  right: calc(var(--button-offset) + var(--border-width));
  top: calc(var(--button-offset) + var(--border-width));

  @media screen and (min-width: 850.9px) {
    width: fit-content;
  }

  &.email-signup__button--text {
    padding: 0 var(--padding-3xl);
  }

  &.email-signup__button--text.button-unstyled {
    padding: 0 var(--padding-xl);
  }

  &.button-unstyled {
    border-radius: var(--border-radius);
  }

  > .email-signup__button-icon {
    padding: 0;
  }
}

.email-signup__input--underline + .email-signup__button--integrated {
  right: 0;
  --button-offset: calc(10% - var(--border-width));

  &.email-signup__button--text.button-unstyled {
    padding: 0;
  }

  &.button-unstyled {
    border-radius: 0;
  }
}

.email-signup__button:not(.button-unstyled) {
  background-color: var(--button-background-color);
  color: var(--button-color);
  font-weight: var(--button-font-weight-primary);
  text-transform: var(--button-text-case-primary);
}

.email-signup__button.button-secondary {
  font-weight: var(--button-font-weight-secondary);
  text-transform: var(--button-text-case-secondary);
}

.email-signup__button.button-unstyled {
  background-color: transparent;
  color: var(--color-input-text);
}

.email-signup__button.button-unstyled:hover {
  color: rgb(from var(--color-input-text) r g b / 70%);
  cursor: pointer;
}

.email-signup__button-icon {
  fill: currentcolor;
  padding: 5px;

  @media screen and (min-width: 850.9px) {
    padding: 0;
    align-self: center;
    justify-self: center;
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
  }
}

.email-signup__message {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.email-signup__message-text {
  margin: 0;
}

.il-email-signup {

  /*.il-email-signup__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 10px;
  }

  .il-email-signup__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 25px;
    max-width: 488px;
  }*/
  .il-email-signup__description {
    color: $text-color-black-2;
  }

  .il-email-signup__input-group {
    button {
      display: none;
    }
  }

  .il-email-signup__input {
    border: 1px solid #000;
    width: 100%;
    height: 66px;
    background: #e8e8e8;
  }

  .il-email-signup__input::placeholder {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #828282;
  }

  .il-email-signup__privacy-text {
    margin-top: 10px;

    :is(a) {
      text-decoration: none;
    }

   /* * {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 10px;
      line-height: 140%;
      color: #000;
    }*/
  }

  .il-logo__image-wrapper {
    display: flex;
    width: max-content;
    height: 100%;
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 40px;

   /* @media screen and (min-width: 850.9px) {
      display: none;
    }*/
  }

  .il-logo__image-wrapper img {
    width: auto;
    height: 172px;
    object-fit: contain;
    object-position: left;
  }
}

.il-footer {
  .il-email-signup {
    max-width: 470px;

    &__heading {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      color: #0c0c0c;
      margin-bottom: 10px;
    }

    &__description {
      margin-bottom: 25px;

      @media screen and (max-width: 767px) {
        margin-bottom: 20px;
      }
    }

    &__privacy-text {
      p, a {
        color: $text-color-black-2 !important;
      }
    }
  }
}