@import '_vars';
@import '_mixins';

h1,
.h1.h1,
.text-block.h1 > *,
.heading-1,
.heading-1 * {
  @include heading-1;
}

h2,
.h2.h2,
.text-block.h2 > *,
.heading-2,
.heading-2 * {
  @include heading-2;
}

h3,
.h3,
.h3.h3,
.text-block.h3 > *,
.heading-3,
.heading-3 * {
  @include heading-3;
}

h4,
.h4,
.h4.h4,
.text-block.h4 > *,
.heading-4,
.heading-4 * {
  @include heading-4;
}

h5,
.h5.h5,
.text-block.h5 > *,
.heading-5,
.heading-5 * {
  @include heading-5;
}

.menu-link,
.menu-link * {
  @include menu-link;
}

.link-item,
.link-item * {
  @include link-item;
}

.link-item-hovered,
.link-item-hovered * {
  @include link-item-hovered;
}

.regular-text,
.regular-text * {
  @include regular-text;
}

.caption-1,
.caption-1 * {
  @include caption-1;
}

.caption-2,
.caption-2 * {
  @include caption-2;
}

.caption-3,
.caption-3 * {
  @include caption-3;
}

.text-medium-20,
.text-medium-20 * {
  @include text-medium-20;
}

.text-light,
.text-light * {
  @include text-light;
}

.text-light-2,
.text-light-2 * {
  @include text-light-2;
}

.for-desktop {
  @media screen and (max-width: 767px) {
    display: none !important;
  }
}

.for-mobile {
  @media screen and (min-width: 768px) {
    display: none !important;
  }
}

// Class generation for mobile-only (visible on mobile, hidden on desktop)
.mobile-only {
  display: block !important; // Base style for mobile

  &--sm {
    @include hide-on-desktop(sm); // Hide on screens ≥576px
  }

  &--md {
    @include hide-on-desktop(md); // Hide on screens ≥768px
  }

  &--lg {
    @include hide-on-desktop(lg); // Hide on screens ≥992px
  }
}

// Class generation for desktop-only (visible on desktop, hidden on mobile)
.desktop-only {
  display: block !important; // Base style for desktop

  &--sm {
    @include hide-on-mobile(sm); // Hide on screens <576px
  }

  &--md {
    @include hide-on-mobile(md); // Hide on screens <768px
  }

  &--lg {
    @include hide-on-mobile(lg); // Hide on screens <992px
  }
}

.hidden {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

/* Privacy policy pages style */

rte-formatter {
  padding-block: 0 !important;
}

.shopify-policy__container {
  max-width: 100ch!important;
}

.rte {
  padding-block: 15vh;
  max-width: 100ch!important;

  :is(h4, h5, h6) {
    @include regular-text ($color: #000);
  }

  :is(p, ul, ol, li) {
    @include regular-text ($color: #000);
  }

  :is(ul) {
    padding: 0 0 0 18px;

    @media screen and (width >= 750px) {
      padding: 0 0 0 27px;
    }
  }

  p {
    margin: 0;
  }

  a {
    color: #000;
  }
}

[data-template="page.informational-page"] {
  :is(h1) {
    @include heading-3;
    text-transform: uppercase;

    @media screen and (width >= 750px) {
      @include heading-2;
    }
  }

  :is(h1):first-child {
    margin: 0 0 30px 0;

    @media screen and (width >= 750px) {
      margin: 0 0 35px 0;
    }
  }

  :is(h2) {
    margin: 15px 0;
    text-transform: uppercase;
    @include heading-5;
  }

  :is(h3) {
    @include regular-text ($color: #000);
  }
}

.shopify-policy__title {
  display: none;
}

.shopify-policy__body {
  :is(h1, h2) {
    @include heading-3;
    text-transform: uppercase;

    @media screen and (width >= 750px) {
      @include heading-2;
    }
  }

  :is(h1, h2):first-child {
    margin: 0 0 30px 0;

    @media screen and (width >= 750px) {
      margin: 0 0 35px 0;
    }
  }

  :is(h3) {
    margin: 15px 0;
    text-transform: uppercase;
    @include heading-5;
  }
}

/* END Privacy policy pages style */

header-component {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

